%h1 About EZ-Meetings

%h2 Descripción

Aplicacion para reserva de salas de juntas conectado a mi cuenta de Google

%h2 Caso de uso:

%ol
  %li Entro al sitio y me firmo con mi cuenta de Google Apps
  %li Creo mi empresa
  %li Dentro de mi empresa creo edificios y mientras estoy en el formulario de alta de edificios agrego dinámicamente campos para agregar las salas con su nombre, capacidad de personas
  %li Para reservar una sala entro al buscador por capacidad y ubicación, selecciono un horario para ver salas disponibles y reservo una.

%p Gemas a utilizar como minimo:

%ul
  %li Devise
  %li Omniauth
  %li Haml
  %li Simple form

%h3 Factor Awesome, escoge al menos una de estas:

%ul
  %li Opcion A (nivel de complejidad 3): Integración con Google Calendar para que cada sala tenga su calendario y refleje si esta ocupada o no

  %li Opcion B (nivel de complejidad 1): Alta de N características de salas (proyector, pintarron, corcho, videoconferencia, bocinas) y poder filtrar por estas características

  %li Opcion C (nivel de complejidad 2): Poder invitar personas a la reservación integrándose a mis contactos de Google Apps.
