%tr
  %td= link_to building.name, company_building_path(@company, building)
  %td= link_to building.meeting_rooms.count, company_building_path(@company, building)
  %td.text-right
    = link_to edit_company_building_path(@company, building), class: "btn btn-warning btn-sm" do
      %i.glyphicon.glyphicon-pencil
    = link_to company_building_path(@company, building), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" do
      %i.glyphicon.glyphicon-remove-sign
