= fa_stacked_icon "industry inverse", base: "circle", class: "fa-2x pull-left"
%h1= @company.name

%h3 Buildings
= render @buildings || "shared/empty_list"

= link_to "New Building", new_building_path, class: "btn btn-primary"
