.navbar-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 28px;
  font-weight: bolder;
}

.nord {
  font-family: 'Quicksand';
  color: #909090;
  background-color: #282a36;
}

.horizontal-checkbox {
    margin: 10px !important;;
    padding: 10px;
    display:inline-block;
    overflow:hidden
}